.create-workspace-content
  padding 15px;

  .create-workspace-footer-button
    width 100%

    button
      margin 0 !important
      width 100% !important

  // temporary styles
  .project-source-selector
    .che-input-box-desktop
      label
        margin-top 12px
        color $label-primary-color

      //.che-input-box-desktop-value-column
      //  margin-top -12px

    .import-zip
      md-checkbox
        span
          color $label-primary-color
          vertical-align text-top
